@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QuestionViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="card o-hidden border-0 shadow-lg my-5 w-100" style="min-height:400px">
        <div class="card-body p-0 mt-5 p-5">
            <form asp-controller="Question" asp-action="Edit" method="post">
                <input type="hidden" asp-for="Question.Id" value="@Model.Question.Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Question.Body">Soru Metni</label>
                    <textarea asp-for="Question.Body" value="@Model.Question.Body" class="form-control"></textarea>
                    <span asp-validation-for="Question.Body" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.RightAnswer">Doğru Cevap</label>
                    <input asp-for="Question.RightAnswer" value="@Model.Question.RightAnswer" class="form-control" />
                    <span asp-validation-for="Question.RightAnswer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.WrongAnswer1">Yanlış Cevap 1</label>
                    <input asp-for="Question.WrongAnswer1" value="@Model.Question.WrongAnswer1" class="form-control" />
                    <span asp-validation-for="Question.WrongAnswer1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.WrongAnswer2">Yanlış Cevap 2</label>
                    <input asp-for="Question.WrongAnswer2" value="@Model.Question.WrongAnswer2" class="form-control" />
                    <span asp-validation-for="Question.WrongAnswer2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.WrongAnswer3">Yanlış Cevap 3</label>
                    <input asp-for="Question.WrongAnswer3" value="@Model.Question.WrongAnswer3" class="form-control" />
                    <span asp-validation-for="Question.WrongAnswer3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.Difficulty">Zorluk Derecesi</label>
                    <input asp-for="Question.Difficulty" value="@Model.Question.Difficulty" class="form-control" />
                    <span asp-validation-for="Question.Difficulty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.Points">Soru Puanı</label>
                    <input asp-for="Question.Points" value="@Model.Question.Points" class="form-control" />
                    <span asp-validation-for="Question.Points" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.Time">Soru süresi</label>
                    <input asp-for="Question.Time" value="@Model.Question.Time" class="form-control" />
                    <span asp-validation-for="Question.Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.CategoryId" class="control-label">Kategori</label>
                    <select asp-for="Question.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control">
                        <option value="">Select Category</option>
                    </select>
                    <span asp-validation-for="Question.CategoryId" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary w-100 mt-5">Kaydet</button>
            </form>

        </div>
    </div>

</div>
